# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset:  

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [67]:
import pandas as pd  #import pandas for reading csv and data manipulation
#import matplotlib.pyplot as plt #import matplotlib to make graphs
#import seaborn as sb #import seaborn to make graphs

#create a data frame from csv
df= pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\eda-checkpoint\combined_mlb_data.csv')

# Print important info about the dataframe and see if it was uploaded correctly
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   team name                     780 non-null    object
 1   team payroll                  780 non-null    int64
 2   Wins                          780 non-null    int64
 3   Losses                        780 non-null    int64
 4   wpct                          780 non-null    float64
 5   mlb rk                        780 non-null    int64
 6   year                          780 non-null    int64
 7   Payroll Rank                  780 non-null    int64
 8   Payroll Efficiency            780 non-null    int64
 9   Wins above league average     780 non-null    float64
 10  Payroll above league average  780 non-null    float64
dtypes: float64(3), int64(7), object(1)
memory usage: 67.2+ KB
None
             team name  team payroll  Wins  Losses   wpct  mlb rk  year  \
0    Baltimore Orioles      70408134    79      83  0.488      16  1998
1     New York Yankees      63159898   114      48  0.704       1  1998
2       Atlanta Braves      59536000   106      56  0.654       2  1998
3  Cleveland Guardians      59033499    89      73  0.549       7  1998
4        Texas Rangers      54704595    88      74  0.543       9  1998

   Payroll Rank  Payroll Efficiency  Wins above league average  \
0             1                 -15                       -2.0
1             2                   1                       33.0
2             3                   1                       25.0
3             4                  -3                        8.0
4             5                  -4                        7.0

   Payroll above league average
0                   30057056.23
1                   22808820.23
2                   19184922.23
3                   18682421.23
4                   14353517.23

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [50]:
# get summary stats for columns
print(df.describe())  

# column names
print(df.columns)

# count the number of unique team names this should equal 30
print(f'\nThe count of team names in the data set equals: {df.groupby('team name')['team name'].nunique().count()}')

print(f'\nThe highest team payroll form 1998-2023 is: {df['team payroll'].max()}')

       team payroll        Wins      Losses        wpct      mlb rk  \
count  7.800000e+02  780.000000  780.000000  780.000000  780.000000
mean   9.659526e+07   79.006410   79.006410    0.499990   15.500000
std    4.986357e+07   15.434859   15.409555    0.075281    8.660995
min    9.202000e+06   19.000000   17.000000    0.265000    1.000000
25%    6.043591e+07   71.000000   71.000000    0.444000    8.000000
50%    8.698093e+07   80.000000   80.000000    0.500000   15.500000
75%    1.235227e+08   90.000000   89.000000    0.556000   23.000000
max    3.342333e+08  116.000000  119.000000    0.717000   30.000000

              year  Payroll Rank  Payroll Efficiency  \
count   780.000000    780.000000           780.00000
mean   2010.500000     15.500000             0.00000
std       7.504812      8.660995             9.67853
min    1998.000000      1.000000           -27.00000
25%    2004.000000      8.000000            -6.00000
50%    2010.500000     15.500000             0.00000
75%    2017.000000     23.000000             6.00000
max    2023.000000     30.000000            27.00000

       Wins above league average  Payroll above league average
count               7.800000e+02                  7.800000e+02
mean                1.102566e-10                 -1.727400e-04
std                 1.190725e+01                  3.936325e+07
min                -3.796667e+01                 -1.074846e+08
25%                -8.933333e+00                 -2.606833e+07
50%                 3.333333e-02                 -3.933160e+06
75%                 9.000000e+00                  2.282513e+07
max                 3.506667e+01                  1.858529e+08
Index(['team name', 'team payroll', 'Wins', 'Losses', 'wpct', 'mlb rk', 'year',
       'Payroll Rank', 'Payroll Efficiency', 'Wins above league average',
       'Payroll above league average'],
      dtype='object')

The count of team names in the data set equals: 30

The highest team payroll form 1998-2023 is: 334233332

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

In [ ]:
import matplotlib.pyplot as plt #import matplotlib to make graphs
import seaborn as sb #import seaborn to make graphs

team_wins = df[['team name', 'Wins']]

wins = team_wins.groupby('team name').agg({'Wins' : 'sum'})


wins.plot(kind='bar')
plt.xlabel('Team Name')
plt.ylabel('Wins')
plt.title('Total Wins by Team 1998-2023')
plt.show()

In [19]:
# Filter for St. Louis Cardinals data
cardinals_data = df[df['team name'] == 'St. Louis Cardinals']

# Create a line chart
plt.plot(cardinals_data['year'], cardinals_data['team payroll'])

# Add labels and title
plt.xlabel('Year')
plt.ylabel('Payroll')
plt.title('St. Louis Cardinals Team Payroll (1998-2023)')

plt.ticklabel_format(axis='y', style='plain', useLocale=True)

# Show the plot
plt.show()

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? No, nothing was suprising.
2. Do you have any concerns about your dataset? No, this is a clean dataset.
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data? No.